html, body {
    width: 100%;
    height: 100%;
}
/*
body {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: #222;
    margin: 0;
    overflow: hidden;
}
*/

h1 {
    text-align: center;
    font-weight: lighter;
}

p, a {
    color: #000;
    line-height: 1.5em;
    font-size: 0.9rem;
}

p {
    opacity: 0;
    transition: opacity 1.0s, color 0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

p.inactive {
    color: #777;
}

p.last-choice {
    text-align: center;
    color: #33ff33;
}

p img {
    max-width: 100%;
    overflow: hidden;
}

.old {
    color: #777;
    transition: color 0.25s;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: #ff0000;
}
/*
.main-container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px;
}
*/

.menu {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    z-index: 10;
}

#menu input {
    margin-top: 20px;
}

#story-wrapper {
    height: 70%;
}

/*
#story {
    position: fixed;
    overflow: auto;
    height: 70%;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    box-sizing: border-box;
}
*/

/*
#choices {
    padding: 20px;
    box-sizing: border-box;
    height: 25%;
    height: calc(30% - 1.6em - 1px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
*/

#choices > p {
    opacity: 1;
    margin: auto;
    width: 100%;
}

#choice-timer-outer {
    width: 100%;
}

#choice-timer {
    width: 0%;
    height: 1px;
    background-color: #ffaa00;
}

/*
#footer {
    position: fixed;
    width: 100%;
    height: 1.6em;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: #111;
}
*/

.stats {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    max-width: 600px;
    margin: 0 auto;
}

.stats-item {
    flex: 1 1 calc(25% - 8px);
    margin: 2px;
    text-align: center;
    color: #aaa;
    display: flex;
}

.stats-item > div {
    width: 55%;
    padding: 2px;
    text-align: left;
    font-weight: bold;
}

.stats-item > div:first-child {
    width: 45%;
    text-align: right;
    font-weight: lighter;
    padding-right: 8px;
}

/* New stuff */

body{
    font-family: "Zilla Slab", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    overflow: hidden;
    width: 100%;
}


/* Smartphones (portrait) ----------- */



.mobile-content{

    border: 1px solid;
    width: 300px;
    height:600px;

}

.margins{

    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px;
    margin-bottom:50px;
    margin-right:50px;
    margin-left:50px;

}

.content_area {

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;

}

.aspect_wrapper {
    width: 100%;
    min-width: 1000px;
    max-width: 1500px;
    /* whatever width you want */
    display: inline-block;
    position: relative;
    
}

.aspect_wrapper:after {
    padding-top: 46.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}


.title{
    position: absolute;
    left:25px;
    top: 15px;
    letter-spacing: 1rem;
    background-color: white;
    color:#CCC;
}


.column {
    height: 100%;
    float: left;
    position: relative;
}

.column img{
    width: 100%;
}

.player{
    width: 12.5%;

}

.story{
    width: 37.5%;
}

.the_text{
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll;
    
    height: -moz-calc(100% - 120px);
    /* WebKit */
    height: -webkit-calc(100% - 120px);
    /* Opera */
    height: -o-calc(100% - 120px);
    /* Standard */
    height: calc(100% - 120px);
}

.the_choice{
    margin-top: 20px;
    height: 100px;
    border: 1px solid black;

}

.external{
    width: 50%;
}

.scene{
    width: 100%;
    height: 100%;
    background-image: url("img/map.jpg");
    background-size: cover;
    border:1px solid #DDD;
    transition: background 1.0s linear;
}

.white_topper{

    z-index: 10;
    width: 100%;
    height: 66%;
    top:0px;
    left:0px;
    position: absolute;

    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

td {
    background-color: white;
}

table{
    width: 100%;
    font-size: 0.85rem;
}

table td:nth-child(1){
    font-weight: bold;
}

table td:nth-child(2){
    text-align: right;
}


