
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 5.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 4.2rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.6rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 3.0rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 2.4rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

p {
  margin-top: 0; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }



.outer-container{
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box; 


}

.background-holder{
     background-image: url(img/map.jpg);
     width: 100%;
     position: fixed;
     z-index: -10;
     height: 100vh;
}


.title{
    height: 100vh;
    width: 100%;
    background-image: url(img/map.jpg);
    max-height: 710px;
    border-bottom: 2px solid black;

}

.status{

  margin: auto;
  margin-top: 10%;
  width: 90%;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-size: 2.0rem;

}

.status img{
  width: 50px;
  height: 50px;
}

.title-matter span{
    background-color: yellow;
}

.status span{
  background-color: white;
}

.title-matter{
  padding-top: 30%;
  padding-left: 5%; 
    
}

.instruction{

  margin: auto;
  margin-top: 10%;
  width: 90%;
  padding: 5px 10px 5px 10px;

  color: black;
  background-color: white;
  font-size: 1.4rem;

}


.instruction h5{
  margin-bottom: 0px;
}

.title input{
  display: block;
  margin: auto;
  margin-top: 10px;

  background-color: white;
}



.text {

    padding-top: 25vh;
    background-color: rgba(255,255,255,0.95);
    padding-bottom: 20vh;
   

}

.id {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: grey;
    font-size: 0.5rem;
  }

.spacer{
    height: 10vh;
    background-color: white;
}

.choice-box{
    
    position: absolute;
    bottom: 0px;
    width: 90%;
    left:5%;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: .1rem;

}

.content {
    min-height: 95vh;
    position: relative;
    margin-bottom: 5vh;
    padding-left: 5%;
    padding-right: 5%;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}



@media (min-width: 400px) {

    .outer-container{
        width: 400px;
        margin:auto;
    }

}

@media (min-height: 600px) {

   
}

p {
    opacity: 0;
    transition: opacity 1.0s, color 0s;
}

p.show {
    opacity: 1.0;
}

p.clickable {
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    background-color: #EEE;
    width: 100%;
}

p.clickable:hover{
    text-decoration: underline;
}

p.inactive {
    color: #777;
    text-align: center;
}

p.last-choice {
    text-align: center;
    color: #33ff33;
}

p img {
    max-width: 100%;
    overflow: hidden;
}

.old {
    color: #777;
    transition: color 0.25s;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: #ff0000;
}